* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat";
  font-size: 14px;
}
body {
  background-color: #eed6d6;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
main {
  background-color: white;
  width: 90%;
  max-width: 600px;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
picture {
  display: flex;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  margin: 0.5em 0;
}
/* IMAGE SECTIONS..*/
.image {
  display: flex;
}
.img2 {
  width: 215%;
}
/* CONTENT SECTION...*/
section .content {
  padding: 2.5rem;
}
.content {
  padding: 3rem;
  margin-left: 129px;
}
.break {
  padding: 0px 52px 10px 0px;
}
.parg2 {
  margin: 1.5rem 0;
}
.Dollar-main {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  margin: 1.5rem 0;
}
.text-color {
  font-family: var(--fraunces);
  font-size: 3rem;
  color: #197550;
}
.Dollar-sign {
  text-decoration: line-through;
}
/* BUTTON SECTION....*/
.btn {
  font-family: "montserrat";
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  background-color: #197550;
  border: 0;
  color: white;
  padding: 1em;
  border-radius: 0.5rem;
}
.icon {
  width: 1rem;
  vertical-align: text-top;
  margin-right: 0.5rem;
}
.btn:hover {
  background-color: #203d0c;
}
@media (max-width: 708px) {
  main {
    flex-direction: column;
  }
  source {
    width: 50%;
    margin: 0px -50px;
  }
  .img {
    width: 118%;
  }
  .content {
    padding: 3rem;
    margin-left: 9px;
  }
}
